{% extends "base.html" %}

{% block header %}Comic Database{% endblock %}

{% block main %}
	<table>
		<tr><td><a href="./char/0/">Browse Characters</a></td></tr>
		<tr><td><a href="./issue/0/">Browse Issues</a></td></tr>
		<tr><td><a href="./pub/0/">Browse Publishers</a></td></tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td><a href="./loc/0/">Browse Locations</a></td></tr>
		<tr><td><a href="./power/0/">Browse Powers</a></td></tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td><a href="./cre/0/">Browse Creators</a></td></tr>
	</table>
{% endblock %}
